@import "@/styles/main.less";
@import "../Store/style.less";

.point {
    .payment-way .payment-way__list {
        .payments-icons span:not(.spacer-line) { background: none; }
        .payments-name { font-weight: normal; }
        .payment-setting.deactivate { filter: grayscale(1); -webkit-filter: grayscale(1); opacity: 0.5; }
    }
}